:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #121212;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #121212;
  text-decoration: inherit;
}
a:hover {
  color: #8B5E3C;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0;
  border: 4px solid #121212;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  font-family: inherit;
  background-color: #121212;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: white;
  color: #121212;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

